.btn-comprar{
    background-color: #159A40;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.btn-comprar:hover{
    background-color: #fc8523;
}

@media screen and (max-width:770px){
    .btn-comprar {
        padding: 15px 30px;
    }
}