.btn{
    color: #fff;
    padding: .4rem 1rem;
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
}
.btn-comprar{
    background-color: #159A40;
}

.btn-comprar:hover{
    background-color: #fc8523;
    color: #fff;
}

.btn-mapa{
    background-color: #EA1A22;
    margin-top: .5rem;
}

.btn-mapa:hover{
    background-color: #fc8523;
    color: #fff;
}

.btn-comprar:active{
    background-color: #159A40 !important;
}