.card-shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 10px 35px 10px;
    object-fit: contain;
    box-shadow: 4px 8px 19px 0 rgba(105, 105, 105, 0.16);
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-selected{
    border: solid #FC8523;
    box-shadow: 4px 8px 19px 0 rgba(238, 98, 33, 0.726);
    background-color: #fff;
}

.logo-tienda{
    width: 50%;
}

.box-scroll{
    height: 500px;
	/* width: 200px; */
	border: none;
	background: #f1f1f1;
	overflow-y: scroll;
    padding: 0px 20px;
}
.card-shop img {
    cursor: pointer;
    padding: 5px;
    border: solid thin white;

}
.card-shop img:hover {
    border: solid thin gray;
}

@media screen and (max-width:770px){
    .card-shop {
        display: block;
    }
    .logo-tienda{
        width: 90%;
        margin-bottom: 20px;
    }
    .box-scroll{
        margin-bottom: 20px;
    }
}